// biketown colors
// #FC4C02

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1 {
  float: right;
  margin-right: 1rem;
}

// styles for marker clusters
.marker-cluster span {
  color: white;
  font-weight: 500;
  opacity: 1 !important;
}

.marker-cluster-small,
.marker-cluster-medium,
.medium-cluster-large {
  background-color: rgba(252, 76, 2, 0.6) !important;

  //   box-shadow: 0 0 5px 10px #fc4c02 !important;
}

.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div {
  background-color: rgba(252, 76, 2, 1) !important;
  //   box-shadow: 0 0 5px 10px #fc4c02 !important;
  opacity: 1 !important;
}

.marker-tooltip {
  background-color: rgba(252, 76, 2, 1);
  color: white;
}

.marker-tooltip span {
  font-weight: 900;
}
