// biketown colors
// #FC4C02
// #393737

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.navbar h1 {
  float: right;
  margin-right: 1rem;
}

.navbar .swoosh-logo {
  margin-left: 2px;
  height: 10px;
}

// styles for marker clusters
.marker-cluster span {
  color: white;
  font-weight: 500;
  opacity: 1 !important;
}

.marker-cluster-small,
.marker-cluster-medium,
.medium-cluster-large {
  background-color: rgba(252, 76, 2, 0.6) !important;

  //   box-shadow: 0 0 5px 10px #fc4c02 !important;
}

.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div {
  background-color: rgba(252, 76, 2, 1) !important;
  //   box-shadow: 0 0 5px 10px #fc4c02 !important;
  opacity: 1 !important;
}

.marker-tooltip {
  background-color: rgba(252, 76, 2, 1);
  color: white;
}

.marker-tooltip span {
  font-weight: 900;
}

.legend {
  color: white;
  background-color: rgba(57, 55, 55, 0.8);
  padding: 1rem;
  border-radius: 10px;
  position: fixed;
  width: 12rem;
  z-index: 10;
  top: 15%;
  right: 3%;
}

.legend h3 {
  font-weight: 500;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.legend .legend-item {
  display: block;
  opacity: 1;
  margin-bottom: 0.3rem;
}

.legend .img-holder {
  display: inline-block;
  width: 50px;
  box-sizing: border-box;
  text-align: center;
}

.legend span img {
  height: 30px;
  vertical-align: middle;
}

.legend input {
  margin-right: 0.5rem;
}

.legend p {
  display: inline;
  vertical-align: middle;
}
